version: "3"

services:
  omi_workspace_cleaner:
    image: registry.gitlab.com/open-mobility-indicators/omi-cleaner/workspaces:latest
    env_file:
      - omi_workspace_cleaner.env
    environment:
      - WORKSPACE_BASE_DIR=/workspaces
      - DEBUG=true
    volumes:
      - "{{ workspaces_dir }}:/workspaces:rw"
