# Workspace base dir
WORKSPACE_BASE_DIR={{ workspaces_dir }}

# GitLab URL
GITLAB_URL={{ gitlab_url }}

# GitLab id of https://gitlab.com/open-mobility-indicators/indicators/ group
GITLAB_GROUP_ID={{ gitlab_group_id }}

# GitLab token used to query GitLab API
GITLAB_PRIVATE_TOKEN={{ gitlab_api_token }}
