version: "3"

services:
  reverse_proxy:
    image: traefik:v2.4
    restart: always
    command:
      - "--entrypoints.web.address=:80"
      - "--providers.docker"
{% if letsencrypt_email is defined %}
      - "--entrypoints.websecure.address=:443"
      # - "--certificatesresolvers.le.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.le.acme.caserver=https://acme-v02.api.letsencrypt.org/directory"
      - "--certificatesresolvers.le.acme.email={{ letsencrypt_email }}"
      - "--certificatesresolvers.le.acme.storage=/acme.json"
      - "--certificatesresolvers.le.acme.tlschallenge=true"
{% endif %}
    ports:
      - "80:80"
{% if letsencrypt_email is defined %}
      - "443:443"
{% endif %}
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
{% if letsencrypt_email is defined %}
      - "./acme.json:/acme.json:rw"
    labels:
      # middleware redirect
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      # global redirect to https
      - "traefik.http.routers.redirs.entrypoints=web"
      - "traefik.http.routers.redirs.rule=hostregexp(`{host:.+}`)"
      - "traefik.http.routers.redirs.middlewares=redirect-to-https"
{% endif %}

  static_file_server:
    image: nginx:1.21.1
    restart: always
    labels:
{% if letsencrypt_email is defined %}
      - "traefik.http.routers.static-file-server.entrypoints=websecure"
{% else %}
      - "traefik.http.routers.static-file-server.entrypoints=web"
{% endif %}
      - "traefik.http.routers.static-file-server.rule=Host(`{{ static_file_server_domain }}`)"
{% if letsencrypt_email is defined %}
      - "traefik.http.routers.static-file-server.tls=true"
      - "traefik.http.routers.static-file-server.tls.certresolver=le"
{% endif %}

      # Define a "headers" middleware named "cors".
      # Cf https://doc.traefik.io/traefik/middlewares/http/headers/#cors-headers
      - "traefik.http.middlewares.cors.headers.accesscontrolallowmethods=GET,OPTIONS"
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworigin=*"
      - "traefik.http.middlewares.cors.headers.accesscontrolmaxage=100"
      - "traefik.http.middlewares.cors.headers.addvaryheader=true"

      # Enable the defined middlewares in the router.
      - "traefik.http.routers.static-file-server.middlewares=cors"
    volumes:
      - "./{{ nginx_conf_autoindex_relative_path }}:/docker-entrypoint.d/100-serve-data-with-autoindex.sh:ro"
      - "{{ indicator_data_dir }}:/usr/share/nginx/html/data/indicator-data:ro"

  mbtileserver:
    image: consbio/mbtileserver:latest
    # set container name to ease communication from omi_api service
    container_name: omi_mbtileserver
    entrypoint: /mbtileserver --enable-reload-signal
    restart: always
    labels:
{% if letsencrypt_email is defined %}
      - "traefik.http.routers.mbtile-server.entrypoints=websecure"
{% else %}
      - "traefik.http.routers.mbtile-server.entrypoints=web"
{% endif %}
      - "traefik.http.routers.mbtile-server.rule=Host(`{{ mbtile_server_domain }}`)"
{% if letsencrypt_email is defined %}
      - "traefik.http.routers.mbtile-server.tls=true"
      - "traefik.http.routers.mbtile-server.tls.certresolver=le"
{% endif %}

      # Tell Traefik which port is used by the container because it does not expose any.
      # Cf https://doc.traefik.io/traefik/providers/docker/#port-detection
      - "traefik.http.services.mbtileserver.loadbalancer.server.port=8000"

      # Define a "redirectregex" middleware named "redirect-to-services".
      - "traefik.http.middlewares.redirect-to-services.redirectregex.regex=^{{ 'https' if letsencrypt_email is defined else 'http'}}://{{ mbtile_server_domain }}/$$"
      - "traefik.http.middlewares.redirect-to-services.redirectregex.replacement=/services"

      # Enable the defined middlewares in the router.
      - "traefik.http.routers.mbtile-server.middlewares=redirect-to-services"
    volumes:
      - "{{ mbtiles_dir }}:/tilesets:ro"

  omi_api:
    image: registry.gitlab.com/open-mobility-indicators/omi-api:{{ omi_api_container_image_version }}
    restart: always
    env_file:
      - "./{{ omi_api_env_relative_path }}"
    environment:
      - OMI_API_INDICATOR_DATA_BASE_DIR=/indicator-data
      - OMI_API_TILESET_DIR=/mbtiles
    labels:
{% if letsencrypt_email is defined %}
      - "traefik.http.routers.omi-api.entrypoints=websecure"
{% else %}
      - "traefik.http.routers.omi-api.entrypoints=web"
{% endif %}
      - "traefik.http.routers.omi-api.rule=Host(`{{ omi_api_domain }}`)"
{% if letsencrypt_email is defined %}
      - "traefik.http.routers.omi-api.tls=true"
      - "traefik.http.routers.omi-api.tls.certresolver=le"
{% endif %}

      # Define a "headers" middleware named "cors".
      # Cf https://doc.traefik.io/traefik/middlewares/http/headers/#cors-headers
      - "traefik.http.middlewares.cors.headers.accesscontrolallowmethods=GET,OPTIONS"
      - "traefik.http.middlewares.cors.headers.accesscontrolalloworigin=*"
      - "traefik.http.middlewares.cors.headers.accesscontrolmaxage=100"
      - "traefik.http.middlewares.cors.headers.addvaryheader=true"

      # Define a "redirectregex" middleware named "redirect-to-docs".
      - "traefik.http.middlewares.redirect-to-docs.redirectregex.regex=^{{ 'https' if letsencrypt_email is defined else 'http' }}://{{ omi_api_domain }}/$$"
      - "traefik.http.middlewares.redirect-to-docs.redirectregex.replacement=/docs"

      # Enable the defined middlewares in the router.
      - "traefik.http.routers.omi-api.middlewares=cors,redirect-to-docs"
    volumes:
      - "{{ indicator_data_dir }}:/indicator-data:rw"
      - "{{ mbtiles_dir }}:/mbtiles:rw"
      # Used to communicate to mbtileserver container (asking for reload)
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
