# Token used to reload and delete endpoints
OMI_API_ADMIN_TOKEN={{ omi_api_admin_token }}

# OMI_API_DRY_RUN=true

# GitLab private token
OMI_API_GITLAB_PRIVATE_TOKEN={{ gitlab_api_token }}

# GitLab indicator group location
OMI_API_GITLAB_INDICATOR_GROUP_URL={{ omi_api_gitlab_indicator_group_url }}

# Catalog metadata url
OMI_API_CATALOG_METADATA_URL={{ omi_api_catalog_metadata_url }}

# mbtileserver container name
OMI_API_MBTILESERVER_CONTAINER_NAME=omi_mbtileserver