[Unit]
Description=Remove outdated pipeline workspaces
Documentation=https://gitlab.com/open-mobility-indicators/omi-cleaner/-/blob/main/workspaces/README.md
After=docker.service

[Service]
Type=oneshot
WorkingDirectory={{ docker_stack_dir }}
ExecStart=/usr/bin/docker-compose run omi_workspace_cleaner

[Install]
WantedBy=multi-user.target
